{% extends 'base.html' %}
{% block content %}
  <main class="bg-body">
    <div class="container">
      <div class="row g-0">
        <div class="d-none d-xxl-block col-xxl-3">
          <nav class="small py-4 pe-4" aria-label="Main navigation">
            {% include 'includes/nav.html' %}
          </nav>
        </div>
        <div class="col-12 col-lg-9 col-xxl-6">
          {% if page.breadcrumbs %}
            <nav class="small pt-4" aria-label="Breadcrumb navigation">
              {% include 'includes/breadcrumbs.html' %}
            </nav>
          {% endif %}
          <article class="py-4">
            {{ page.content | safe }}
          </article>
          {% if page.prev or page.next %}
            <nav class="py-4 d-print-none" aria-label="Pagination">
              {% include 'includes/pagination.html' %}
            </nav>
          {% endif %}
        </div>
        <div class="d-none d-lg-block col-lg-3">
          {% if page.toc %}
            <nav class="small py-4 ps-4" aria-label="Page navigation">
              <h2 class="small text-uppercase">On this page</h2>
              {% include 'includes/toc.html' %}
            </nav>
          {% endif %}
        </div>
      </div>
    </main>
  </main>
{% endblock %}
