<div class="row">
  <div class="col-12 col-sm-6 mb-3 mb-sm-0">
    {% if page.prev %}
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title small">
            <h2 class="h6 small m-0 text-uppercase"><i class="bi bi-arrow-left"></i> Previous</h2>
          </div>
          <a class="card-link small" href="{{ page.prev.url }}">{{ page.prev.title }}</a>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-12 col-sm-6">
    {% if page.next %}
      <div class="card h-100 text-end">
        <div class="card-body">
          <div class="card-title small">
            <h2 class="h6 small m-0 text-uppercase">Next <i class="bi bi-arrow-right"></i></h2>
          </div>
          <a class="card-link small" href="{{ page.next.url }}">{{ page.next.title }}</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
