.prose {

  // abbr
  abbr {
    @extend .initialism;
  }

  // blockquote
  blockquote {
    @extend .blockquote;
    @extend .border-start;
    @extend .border-4;
    @extend .ps-3;
    @extend .small;
  }

  // figure
  figure {
    @extend .figure;
    figcaption {
      @extend .figure-caption;
    }
    blockquote {
      + figcaption {
        @extend .blockquote-footer;
      }
    }
    img {
      @extend .figure-img;
    }
  }

  // h1 - h6
  h1 {
    @extend .display-6;
    @extend .border-bottom;
    @extend .pb-3;
    @extend .mb-4;
  }
  h2 {
    @extend .mb-4;
  }
  h3 {
    @extend .mb-4;
  }
  h4 {
    @extend .mb-3;
  }
  h5 {
    @extend .mb-3;
  }
  h6 {
    @extend .mb-2;
  }

  :is(h2, h3, h4, h5, h6) {
    .anchor {
      &::before {
        content: "#";
      }
      @extend .ms-2;
      color: var(--bs-link-hover-color);
      text-decoration: none;
      opacity: 0;
    }
    &:hover {
      .anchor {
        opacity: 1;
      }
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    code {
      color: var(--bs-heading-color);
    }
  }

  // hr
  hr {
    @extend .mt-5;
    @extend .mb-5;
  }

  // img
  img {
    @extend .img-fluid;
  }

  // ol
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: decimal;
          ol {
            list-style-type: lower-alpha;
            ol {
              list-style-type: lower-roman;
            }
          }
        }
      }
    }
  }

  // pre
  pre {
    @extend .w-100;
    @extend .bg-body-tertiary;
    @extend .p-3;
    @extend .rounded;
    @extend .border;
    @extend .small;
  }

  // table
  table {
    @extend .table;
    @extend .table-sm;
    @extend .small;
  }

  // ul
  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
        ul {
          list-style-type: disc;
          ul {
            list-style-type: circle;
            ul {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  // Blocks
  address,
  details,
  dl,
  figure,
  form,
  ol:not(li ol),
  p,
  pre,
  table,
  ul:not(li ul) {
    @extend .mb-4;
  }

}
